body
{
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background-color: #111111;
}

.logo
{
  width: 30%;
margin-left: 35%;
margin-top: 20px;
  z-index: 1;
  display: block;
}

.icons
{
  width: 200px;
  margin-left: 150px;
  margin-top: 20px;
}

#firstBox
{
  width: 500px;
  height: 250px;
  background-color: #062F4F ;
  margin: 60px;
  float: left;
  margin-left: 80px;
  margin-top: 90px;
  border-radius: 25px;
}

#firstBox:hover
{
  background-color:#07385E;
}

#secondBox
{
  width: 500px;
  height: 250px;
  background-color: #813772 ;
  float: left;
  margin: 60px;
  margin-top: 90px;
  border-radius: 25px;
}

#secondBox:hover
{
  background-color: #943F83;
}

#thirdBox
{
  width: 500px;
  height: 250px;
  background-color:#B82601 ;
  float: left;
  margin: 60px;
  margin-top: 90px;
  border-radius: 25px;
}

#thirdBox:hover
{
  background-color: #CC2A01;
}

#fourthBox
{
  width: 500px;
  height: 250px;
  background-color:#B82601 ;
  float: left;
  margin: 60px;
  margin-left: 80px;
  margin-top: 80px;
  border-radius: 25px;
}

#fourthBox:hover
{
  background-color: #CC2A01;
}

#fifthBox
{
  width: 500px;
  height: 250px;
  background-color:#062F4F ;
  float: left;
  margin: 60px;
  margin-top: 80px;
  border-radius: 25px;
}

#fifthBox:hover
{
  background-color:#07385E;
}

#sixBox
{
  width: 500px;
  height: 250px;
  background-color:#813772 ;
  float: left;
  margin: 60px;
  margin-top: 80px;
  border-radius: 25px;
}

#sixBox:hover
{
  background-color: #943F83;
}

#bottomBar
{
  width: 20%;
  height: 10%;
  margin-left: 40%;
  margin-bottom: 30px;
  position: fixed;
  bottom: 0px;
  background-color: #B82601;
  opacity: 0.95;
  z-index: 1;
  display: block;
    border-radius: 25px;
}

#bottomBar:hover
{
  background-color: #DB2D01;
}

.back
{
  width: 35%;
  margin-left: 30%;
  margin-top: 25px;
}
