body{
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background-color: #FFFAFA;

}

#topBar
{
  width: 20%;
  height: 100%;
  position: fixed;
  left: 0px;
  background-color: #FFFAFA;
  opacity: 0.95;
  z-index: 1;
  display: block;
  border-right-style: dashed;
  border-color: #DCDCDC;
}
